<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <title>React</title>
  <!-- <% for (var i = 0; i < htmlWebpackPlugin.files.css.length; i++) { %>
  <link rel="stylesheet" name="css" href="<%= htmlWebpackPlugin.files.css[i] %>">
  <% } %> -->

</head>

<body>
  <div id="app-root"></div>
  <%= dll %>
  <!-- <% for (var j = 0; j < htmlWebpackPlugin.files.js.length; j++) { %>
  <script type="text/javascript" name="js" src="<%= htmlWebpackPlugin.files.js[j] %>"></script>
  <% } %> -->
</body>

</html>
